<div>
  
  <div>
    <img src="{{response.image}}" alt="movie">
  </div>
  
  <div>
    <nav>
      <a href="/movies">Go back</a>
    </nav>

    <h1>{{response.title}}</h1>
    <h3>{{response.director}}</h3>

    <h3>Stars</h3>
    <ul>
      {{#each response.stars}}
      
      <li>
      {{this}}
      </li>
      
      {{/each}}

    </ul>

    <h5>{{response.description}}</h1>
    
    {{#each response.showtimes}}

      {{this}} |

    {{/each}}

  

  </div>
</div>